[profile.default]
src = "contracts"
test = "test"
out = "out"
libs = ["lib"]
remappings = [
  "@openzeppelin/=lib/openzeppelin-contracts/",
]
solc_version = "0.8.33"
optimizer = true
optimizer_runs = 200
